---
import Layout from '../../layouts/Layout.astro';
import Section from '@components/Section.astro';
import Card from '@components/Card.astro';
import Button from '@components/Button.astro';
import Details from '@components/Details.astro';
import Input from '@components/Input.astro';
import Notification from '@components/Notification.astro';
import fetchJson from '@components/fetch-json.js';

// Directus API URL
const deloitteQuestionsUrl = 'https://fdnd-agency.directus.app/items/deloitte_questions';
const deloitteAnswersUrl = 'https://fdnd-agency.directus.app/items/deloitte_answers';

let questionsData = await fetchJson(deloitteQuestionsUrl);
let answersData = await fetchJson(deloitteAnswersUrl);

let currentQuestionIndex = 0;
let selectedAnswers = [];
let wizardPercentage = 20;

let filteredAnswers = answersData.data.filter(answer => answer.question_id === questionsData.data[currentQuestionIndex]?.id);
---

<Layout title="Deloitte | Login">
    <Section
    subtitle="Mobiliteit vragenlijst"
    title="Wizard">

    <Notification type="success" text="Het process is succesvol!"/>

    <Notification type="warning" text="Het process is misgegaan!"/>

    <form>

        <p><span>Vraag:</span> {questionsData.data[currentQuestionIndex]?.question}</p>
        
        <label>
            Progressie
            <progress id="file" value={wizardPercentage} max="100">{wizardPercentage}%</progress>
        </label>

        {#each filteredAnswers as answer}
            <label>
                <Input type="radio" name="answer" value={answer.id}></Input>
                {answer.answer}
            </label>
        {/each}

        <label>
            <Input type="radio" name="answer"></Input>
            {answersData.data.answer}
        </label>

        <label>
            <Input type="radio" name="answer"></Input>
            {answersData.data.answer}
        </label>

        <label>
            <Input type="radio" name="answer"></Input>
            {answersData.data.answer}
        </label>

        <label>
            <Input type="radio" name="answer"></Input>
            {answersData.data.answer}
        </label>

        <div>
            <Button type="button" element={0} text="vorige"></Button>
            <Button type="button" element={0} text="volgende"></Button>
        </div>
    </form>
    </Section>
</Layout>

<style>
    form {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1rem;
    }

    a {
        text-decoration: none;
        color: var(--primary);
    }

    progress[value] {
        border: 0.1rem solid var(--border);
        width: 200px;
        border-radius: 1rem;
        background: var(--white);
        -webkit-appearance:none;
        -moz-appearance:none;        
        appearance: none;
    }

    progress[value]::-webkit-progress-bar {
        border-radius: 1rem;
        background: var(--white);
    }

    progress[value]::-webkit-progress-value {
        border-radius: 1rem 0 0 1rem;
        background: var(--primary);
    }

    span {
        color: var(--primary);
        font-weight: 600;
    }
</style>